@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using DemoFilterAndPaging.Models
@model List<Product>
<div>
    <table>
        <tr>
            <th>ProductId</th>
            <th>ProductName</th>
            <th>Category</th>
            <th>UnitPrice</th>
            <th>Action</th>
        </tr>
        @foreach(Product p in Model)
        {
            <tr>
                <td>@p.ProductId</td>
                <td>@p.ProductName</td>
                <td>@p.Category.CategoryName</td>
                <td>@p.UnitPrice</td>
                <td>
                    <a href="/Product/AddToCart/@p.ProductId">Add To Cart</a>
                </td>
            </tr>
        }
    </table>
</div>
