@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using DemoFilterAndPaging.Models
@model List<Product>
<div>
    <table>
        <tr>
            <th>ProductId</th>
            <th>ProductName</th>
            <th>UnitPrice</th>
        </tr>
        @foreach (Product p in Model)
        {
            <tr>
                <td>@p.ProductId</td>
                <td>@p.ProductName</td>
                <td>@p.UnitPrice</td>
            </tr>
        }
    </table>
</div>