@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using ProjectPRN.Models

<div>
    <h1>Student's Infomation</h1>
    <table border=1>
        <tr>
            <th>StudentName</th>
            <th>Course</th>
            <th>Teaching Date</th>
            <th>Slot</th>
            <th>Room</th>
            <th>Status</th>
        </tr>
        <tr>
            <td></td>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </table>
</div>