@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <body>
        <h1>
            Detail of order:
        </h1>
        <div>
            Something about order:
            
            <div>
            @if (@ViewBag.CurOrder == null)
            {
                        <div>Order yeu cau khong ton tai.</div>
            }
            else
            {
                        <div>Order's info</div>
                        <div>Id: @ViewBag.CurOrder.OrderId </div>
                        <div>OrderDate: @ViewBag.CurOrder.OrderDate </div>
                        <div>Freight: @ViewBag.CurOrder.Freight </div>
            }                
            </div>
        </div>
        <>
    </body>
</html>
