@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using BT1212.Models
@model Employee

<div>
    <form action="/Employee/Create" method="post">
        <div>
            LastName
            <input type="text" name="employee.lastname" value="@(Model==null?"":Model.LastName)"/>
        </div>
        <div>
            FirstName
            <input type="text" name="employee.firstname" value="@(Model==null?"":Model.FirstName)"/>
        </div>
        <div>
            Country
            <input type="text" name="employee.country" value="@(Model==null?"":Model.Country)" />
        </div>
        <div>
            Report To
        </div>
    </form>
</div>