@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using ProjectPRN.Models
@model Student

<div>
    <form action="/Student/DoCreate" method="post">
        <table>
            <tr>
                <th>Roll</th>
                <th>FirstName</th>
                <th>MidName</th>
                <th>LastName</th>
            </tr>
            <tr>
                <td><input type="text" name="student.roll" value="@(Model==null?"":Model.Roll)" /></td>
                <td><input type="text" name="student.firstname" value="@(Model==null?"":Model.FirstName)" /></td>
                <td><input type="text" name="student.midname" value="@(Model==null?"":Model.MidName)" /></td>
                <td><input type="text" name="student.lastname" value="@(Model==null?"":Model.LastName)" /></td>
            </tr>
        </table>
        
        <div>
            <input type="Submit" value="Create New"/>
        </div>
    </form>

</div>
